.label-btn {
  position: fixed;
  bottom: 15px;
  right: 10px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 103;
  box-shadow: 0 5px 10px var(--dark-blue);
  background: var(--second-color);
  transition: all 0.2s ease-in-out;
}

.items {
  position: fixed;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 104;
  cursor: pointer;
  visibility: hidden;
  transition: all 0.1s ease-in-out;
}

.items:nth-child(3) {
  right: 10px;
  bottom: 80px;
}

.items:nth-child(4) {
  right: 80px;
  bottom: 15px;
}

.logo-settings {
  position: fixed;
  right: 17px;
  bottom: 22px;
  z-index: 105;
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.logo-settings:hover {
  transform: rotate(360deg);
}

.items img {
  width: 40px;
  height: 40px;
}

.label-btn.active {
  transform: scale(4);
  background: var(--linear-background);
}

.items.active {
  visibility: visible;
}

.toggle-theme-btn {
  background: transparent;
  border: none;
  outline: none;
  padding: 10px;
  width: 50px;
}

.toggle-theme-btn svg {
  width: 40px;
  height:40px
}