.container-realisations {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr);
   grid-gap: 80px;
   margin: 100px 15px 0;
   overflow: hidden;
   padding: 5px;
}


.project-item {
   width: 100%;
   height: 500px;
   background: var(--blue-navy);
   color: var(--first-color);
   border-radius: 55px;
   display: block;
   overflow: hidden;
}


.project-item .bloc-img {
   width: 100%;
   height: 64%;
}

.project-item .bloc-img img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: 0.5s;
}

.project-item .bloc-img img:hover {
   transform: scale(1.05);
}

.content-project {
   width: 100%;
   height: 30%;
   padding: 15px;
   display: grid;
   grid-template-rows: repeat(2, 1fr);
}

.content-project .project-title {
   margin: 5px 0;
   justify-self: flex-start;
   display: flex;
   position: relative;
   width: 100%;
   justify-content: space-between;
}

.span-title::after {
   content: "";
   bottom: 0;
   display: block;
   height: 5px;
   border-radius: 5px;
   width: 100%;
   background: var(--linear-background);
   margin-top: 5px;
}

.content-project .project-title p {
   margin-left: auto;
}

/* Logo GitHub */
.content-project .project-title a svg:hover {
  color: var(--second-color);
}

/* Logo langages de programmations */
.content-project .project-title p img {
   width: 25px;
   height: 25px;
   color: var(--first-color);
   transition: color 0.2s ease-out, transform 0.2s ease-out;
   margin: 0 5px;
}

.content-project .project-title p img:hover {
   transform: scale(1.5);
}

.content-project .project-title a svg {
   margin: 0 5px;
   color: var(--first-color);
}

.content-project .project-title a {
   margin-left: 10px;
}

.project-description {
   margin: 10px 5px;
   text-align: justify;
}


@media screen and (max-width:900px) {
   .container-realisations {
      grid-template-columns: 1fr;
      margin: 100px 25px;
   }
}

@media screen and (max-width:600px) {
   .container-realisations {
      grid-template-columns: 1fr;
      margin: 100px 15px;
   }

   .project-item .bloc-img img:hover {
      transform: scale(1);
   }
}

@media screen and (max-width:450px) {
   .container-realisations {
      grid-template-columns: 1fr;
      margin: 100px 5px;
   }
   .container-top {
      margin-top: 200px;
   }
   .project-title a {
      display: none;
   }
   .project-description {
      margin: 0 10px;
   }
   .content-project .project-title {
      margin: 10px 0;
   }
   .content-project .project-title img {
      margin: 0 2px;
   }
   .content-project .project-title p img {
      margin: 0;
      margin-right: 5px;
   }
   .content-project {
      padding: 15px;
      padding-right: 5px;
   }
}