.container-about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.biographie {
    width: 40%;
    margin: 75px auto 0;
}

.biographie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

@media screen and (max-width: 900px) {
    .container-about {
        display: block; 
    }

    .biographie {
        width: 85%;
    }
}

@media screen and (max-width:450px) {
   .biographie {
     width: 95%;
   }
}
