.container-about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  margin: 0 auto;
  gap: 100px;
}

.profil-img {
  width: 20%;
}

.profil-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.biographie {
  width: 40%;
}

.biographie img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

@media screen and (max-width: 900px) {
  .container-about {
    display: block;
  }

  .profil-img {
    width: 60%;
    margin: 0 auto 100px;
  }

  .biographie {
    width: 85%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 450px) {
  .container-about {
    padding-top: 70px;
  }

  .biographie {
    width: 95%;
  }

  .profil-img {
    width: 60%;
    margin: 0 auto 70px;
  }
}
